<appSettings>
  <add key="FacebookAppId" value="12345"/>
  <add key="FacebookAppSecret" value="4bc32b7b85f7ec69cad7d72b2e2376fc"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>